@font-face {
    src: url("fonts/IndoorKidVariable[EMPH\,slnt\,wdth\,wght].woff2") format("woff2");
    font-family: 'Indoor Kid';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    background-color:#130D5E;
    font-family: 'Indoor Kid';
    color: #B3EDF1;
}

/* hero section */
.hero{
    margin-top: 30px;
    background-image: url("Assests/1_purple1.svg");
    background-size: cover;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas: 
    "o o . ."
    "o o . ."
    "o o n n";
}

    #bubble-one{
        grid-area: o;
        /* width:150px; */
    }
    #bubble-two{
        grid-area: n;
        transform: translate((100px,-500px));
        /* width: 100px; */
    }

/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* where to change the width of the columns on desktop view */
    width: min(100% - 3rem, 95ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h h h h"
    "h h h h"
    "v v v v"
    "v v v v"
    "a a a a"
    "a a a a"
    "d d d d"
    "d d d d";
    background-color: #130D5E;
    background-size: contain;
    text-align: center;
    color: #B3EDF1;
}

#history {
grid-area: h;
 background-color: #130D5E;
    background-size: contain;
}

#variations{
grid-area: v;
background-color: #130D5E

}

#alphabet {
grid-area: a;
background-color: #130D5E;

}


.download {
grid-area: d;
background-image: url("Assests/1_purple1.svg");
    background-size: cover;
     display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas: 
    "t t . ."
    "t t . ."
    "t t b b";

}

 #download-text{
        grid-area: t;
        /* width:150px; */
    }
    #download-button{
        grid-area: b;
        transform: translate((100px,-500px));
        /* width: 100px; */
    }

/* CSS for the footer */
footer{
    background-color: #B3EDF1;
    height:200px;
}

/* font styling area */
h2{
    color: #B3EDF1;
    font-variation-settings: "opsz" 16, "wght" 900, "slnt" -8;
}

h3{
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}
p{
font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}
.icon-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* animations for the variations section */
.weight{
    animation: weightVariations 5s infinite;
}
@keyframes weightVariations {
    0%, 100%{
        font-variation-settings: "wght" 300, "wdth" 100, "slnt" 0, "EMPH" 100;
    }
    50%{font-variation-settings: "wght" 700, "wdth" 100, "slnt" 0, "EMPH" 100;
    }
}
/* where the animation is for the width change */
.width{
    animation: widthVariations 5s infinite;
}
@keyframes widthVariations {
    0%, 100%{
        font-variation-settings: "wght" 300, "wdth" 70, "slnt" 0, "EMPH" 100;
    }
    50%{font-variation-settings: "wght" 300, "wdth" 130, "slnt" 0, "EMPH" 100;
    }
}

.slant{
    animation: slantVariations 5s infinite;
}
@keyframes slantVariations {
    0%, 100%{
        font-variation-settings: "wght" 300, "wdth" 100, "slnt" -20, "EMPH" 100;
    }
    50%{font-variation-settings: "wght" 300, "wdth" 100, "slnt" 0, "EMPH" 100;
    }
}

.emphasis{
     animation: emphasisVariations 5s infinite;
}
@keyframes  emphasisVariations{
    0%, 100%{
        font-variation-settings: "wght" 300, "wdth" 100, "slnt" 0, "EMPH" 100;
    }
    50%{font-variation-settings: "wght" 300, "wdth" 100, "slnt" 0, "EMPH" 125;
    
    }
}


p{
    color:#B3EDF1
}

h5{
    font-size:40px;
    color:#B3EDF1;
    margin:15px;
}

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}
}
